.but{
    background-color: #80ED99;
}

.but:hover{
    background-color: #72e78d;

}

.but1{
    background-color: #38A3A5;
}

.but1:hover{
    background-color: #288d8f;
}

.taklifcontainer{
    background-color: #80ED99;
}

.taklifcontainer:hover{
    background-color: #72e78d;
}

body{
    background-color: #22577A;
}

.sb:hover{
    color: black;
}

@font-face {
    font-family: 'Vazir';
    src: url("../fonts/Vazir-Regular.ttf") format("TypeTrue");
    src: url("../fonts/Vazir-Regular.eot");
    src: url("../fonts/Vazir-Regular.woff");
    src: url("../fonts/Vazir-Regular.woff2");
}

body{
    font-family: 'Vazir';
}